cachetools==4.2.4
certifi==2025.4.26
charset-normalizer==2.0.12
click==8.0.4
Flask==2.0.3
google-api-core==2.8.2
google-api-python-client==2.52.0
google-auth==2.22.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.2
googleapis-common-protos==1.56.3
gspread==5.9.0
httplib2==0.22.0
idna==3.10
importlib-metadata==4.8.3
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
oauthlib==3.2.2
Pillow==8.4.0
pkg-resources==0.0.0
protobuf==3.19.6
pyasn1==0.5.1
pyasn1-modules==0.3.0
PyJWT==2.4.0
pyparsing==3.1.4
qrcode==7.3.1
requests==2.27.1
requests-oauthlib==2.0.0
rsa==4.9.1
six==1.17.0
typing-extensions==4.1.1
uritemplate==4.1.1
urllib3==1.26.20
Werkzeug==2.0.3
zipp==3.6.0
gunicorn
